* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: white;
}
.container, .container-lg, .container-md, .container-sm, .container-xl {
  max-width: 1450px !important;
}
.container {
  overflow: auto;
  margin-top: 10% !important;
  width: 90%;
  height: 450px;
  margin: 0px;
  scrollbar-width: thin;
  background-color: white;
}
.selectoption {
  position: sticky;
  z-index: 1;
  left: -16px;
}
.actions {
  position: sticky;
  z-index: 1;
}
td.actions {
  background-color: white;
}

tr:hover {
  background-color: #b261e8;
  color: white;
}
tr:hover td.selectoption{
  background-color: #b261e8;
  color: white;
  z-index: 20;
}
td.selectoption {
  background-color: #e1d1eb;
}
td.selectoption:hover {
  background-color: #eeeeee;
}
table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  overflow: auto;
  font-family: "Libre Baskerville", serif;
  overflow-x: scroll;
  background-color: white;
  min-width: max-content;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdownbtn {
  font-size: 16px;
  border: none;
  width: 35px;
  height: 30px;
  border-radius: 20px;
}
.content {
  display: none;
  position: absolute;
  background-color: white;
  right: 0;
  width: 200px;
  z-index: 1;
  border-radius: 2px;
  text-align: left;
}
.content button {
  padding: 8px;
  min-width: max-content;
  height: 50px;
  color: blueviolet;
  border: none;
  border-bottom: 1px solid rgb(188, 184, 184);
  cursor: pointer;
  background-color: white;
}
.dropdown:hover .content {
  display: block;
  right: 0px;
  top: 30px;
}
tbody tr:nth-last-child(-n + 3) .content {
  margin-right: 10px;
  margin-top: -180px;
}
.content button:hover {
  background-color: blueviolet;
  color: white;
}
span {
  padding-right: 85px;
  font-size: 15px;
}
th {
  padding: 12px;
  font-size: 15px;
  color: white;
  background-color: blueviolet;
  text-transform: capitalize;
}
.tooltip {
  max-width: 250px;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

td {
  padding: 2px;
  font-size: 15px;
}
#check {
  width: 20px;
  height: 50px;
  color: blueviolet;
}
#button {
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid blueviolet;
  padding: 10px;
  color: blueviolet;
  text-transform: capitalize;
}
#button:hover {
  background-color: blueviolet;
  color: white;
}
input[type="checkbox"] {
  accent-color: blueviolet;
}

::placeholder{
  font-size: 10px;
}




/* Modal css */
/* Modal Styles */
/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
}

/* Modal content */
.modal-content {
  background-color: #fefefe;
  margin: 2% auto; 
  padding: 20px;
  border: 1px solid #888;
  max-height: 80vh;
  width: 100%;
  max-width: 80%; 
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto; 
  overflow-x: hidden;
}
#product-form{
  position: relative;
  left: 40px;
}
#product-form input{
  width: 90%;
}
#product-description{
  width: 90%;
  resize: none;
}
/* Close button */
.close {
  color: #aaa;
  float: right !important;
  margin-left: 92%;
  font-size: 28px;
  font-weight: bold;
  padding: 0px 5px 0px 50px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Form styling */
form {
  display: grid;
  gap: 10px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="number"],
textarea {
  width: 40%;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 10px;
  box-sizing: border-box;
}

button[type="submit"] {
  background-color: blueviolet;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

button[type="newsubmit"]:hover {
  background-color: #b261e8;
}
button[type="newsubmit"] {
  background-color: blueviolet;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #b261e8;
}

/* end modal */


/* Add Column end */

.select-column {
  display: flex;
  align-items: center;
  width: 15%;
  position: absolute;
  top: 15%;
  left: 5%;
}

.select-column label{
  min-width: max-content;
  font-size: 20px;
}
.select-column input{
  margin-right: 10px;
}
.select-column button {
  margin-right: 10px;
  width: 70%;
  border-radius: 20px;
}

#addColumnBtn {
  background-color: blueviolet;
  color: white;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
}

#addColumnBtn:hover {
  color: white;
  background-color: #b261e8;

}
/* Add column end */

/* filter portion */
#filter{
  width: 15%;
  position: absolute;
  left: 81%;
  top: 15%;
}
#filter input{
  position: absolute;
  left: -10%;
  top: 15%;
}
#filter i{
  font-size: 20px;
  position: absolute;
  left: -25%;
  margin-top: 5px;
  color: blueviolet;
}

/* logout and Register button  */
.logout-register-button{
  height: 40px;
  width: 20%;
  position: absolute;
  left: 75%;
  top: 5%;
}
#log{
  width: 48%;
  padding: 10px;
  border-radius: 30px;
  background-color: blueviolet;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 15px;
}
#log:hover{
  background-color: #b261e8;
  color: white;
}
#reg{
  width: 48%;
  padding: 10px;
  border-radius: 30px;
  background-color: blueviolet;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 15px;
}

#reg:hover{
  background-color: #b261e8;
  color: white;
}
#addproducts{
  position: absolute;
  left: 5%;
  top: 5%;
  width: 10%;
  padding: 10px;
  border-radius: 20px;
  border: none;
  background-color: blueviolet;
  color: white;
  font-size: 15px;
}
#addproducts:hover{
  background-color: #b261e8;
  color: white;
  cursor: pointer;
}
#addproducts i{
  font-size: 15px;
  padding-right: 20px;
}

#addproduct{
  width: 90%;
}
#updateproduct{
  width: 90%;
  margin-bottom: 8px;
}
/* button eidt or delete code */

.del-btn{
  width: 35px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  background-color: white;
  color: blueviolet;
  border: none;
}
/* .del-btn:hover{
  background-color: #b261e8;
  color: white;
} */
.edit-btn{
  width: 35px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  background-color: white;
  color: blueviolet;
  border: none;
}
/* Add column modal */

.modal-content{
  height: 100vh;
  padding: 0px;
}
#span{
  margin-left: 70%;
}